@charset "utf-8";

body,html{
	 margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 100%;  
	
}
input,select,table{
	border-width:1px;
	border-color: black;
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:black;
}
a{
	text-decoration: underline;
}
.menu{
	/* background-color:#CBE0F8; */
	background: #179b77; 
}

.layoutBody{
	 vertical-align: top;
	 border-style: outset;
	 border-left-color:black;
	 border-left-style:outset;
	 border-color: black;
	 border-width: thin;
	 border-radius:8px 8px 8px 8px;
	 -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    background: #179b77;
}
.layoutMenu{
	 vertical-align: top;
   	 text-align: left;
   	 padding-left:-10;
	 border-style: outset;
	 border-color: black;
	 border-width: thin;
	 border-radius:8px 8px 8px 8px;
	 background: rgba(19, 35, 47, 0.9);
}
.bodyStyle{
	/* background: -moz-linear-gradient(left, #FFFFFF 25% ,#E7E9EA 75% );
    background:-webkit-linear-gradient(left,#FFFFFF 25%,#E7E9EA 75%);  */
/*  background: -moz-linear-gradient(left, #FFFFFF 25% ,#999 100% );
    background:-webkit-linear-gradient(left,#FFFFFF 25%,#999 100%); */
	 background:#D4D0D0;
	   
	
}
.headerStyle{
	/* background: -moz-linear-gradient(left, #FFFFFF 0% ,#0185C6 100% );
    background:-webkit-linear-gradient(left,#FFFFFF 0%,#0185C6 100%); */
    color:#344B67;
    /* background-color:#0188CC; */
    background: rgba(19, 35, 47, 0.9);
}
tableLayout{
	padding:5ex;
	 border-radius:4% ,4% ,4% ,4%; 
	border: outset; 
}
.dashboardBox{
	 border: outset;
	 border-color: black;
	 border-width: thin; 
	 width:100%; 
	 height:100%; 
	 background-color:white;
}
.divstyle{
	/* border:1px solid black; */
	/* border-top:3px solid #0185C6; */
	/* border-bottom:3px solid #0185C6; */
	
   /*  background: -moz-linear-gradient(left, #FFFFFF 0% ,#999 100% );
    background:-webkit-linear-gradient(left,#FFFFFF 0%,#999 100%); */
    height:100%;
    opacity:0.9;
	/* for IE8 */
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 /* for IE5-7 */
	filter: alpha(opacity=90);
	height: 70%;
}
.menustyle{
	background: -moz-linear-gradient(left, #FFFFFF 5% ,#0185C6 95% );
    background:-webkit-linear-gradient(left,#FFFFFF 5%,#0185C6 95%);
    opacity:0.9;
 /*   color:#0185C6; */
	/* for IE8 */
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 /* for IE5-7 */
	filter: alpha(opacity=90);
}
.outerTable{
	border:outset;
	border-top:0px;
	border-width:20%;
   /*  border-radius: 0% 0% 0% 0%;
    -moz-border-radius: 0% 0% 0% 0%;
    overflow:hidden;
    -webkit-border-radius: 30px;  */
     box-shadow: 10% 105 10% black;  
}

.footerlink:link
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9px;
	color:white;
	text-decoration:none;
}
.headerlink
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	text-decoration:none;
	text-decoration: underline;
}
.loginDetails{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:white;
	text-decoration:none;
}
.footerlink:active
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9px;
	color:white;
	text-decoration:none;
}
.footerlink:hover
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9px;
	color:white;
	text-decoration:none;
}
.footerlink:visited
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9px;
	color:white;
	text-decoration:none;
}
.txt
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444;
}

.forgotpassword
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:white;
}
.footer
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:white;
}
.footerbluetxt
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0085C3;
}

hr {
  border: 2;
  /* background-color: #0185C6; */
  background-color:white; 
  height: 1px;
  margin-top: -1%;


}

.loginbg
{
	background-image:url(../images/Login-BG.jpg);
	background-repeat:no-repeat;
}

.logout{
	font-family: "Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bolder;
	color: #0185C6;	
	padding-left: 30%;
	text-decoration: none;
}
.bodyhead
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:white;
	font-weight:bold;
	/* padding-top: 32px; */
}
.bodyhead2
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:white;
	font-weight:bold;
	padding-top: 32px;
}
.tdSelect{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:white;
	background-colo:black;
	font-weight:none;
}
.tdHeading{
	  opacity:0.9; 
      background-color:#0185C6;  
	}
.heading
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:white;
	font-weight:bold;
}

.txtlink body
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444;
	text-decoration:none;
}

/* ul.menu {list-style:none; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#FFF; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:32px; left:0; background:#CA0000; display:none; opacity:0; list-style:none; width:150px;}
ul.menu ul li {position:relative; border:1px solid #FFF; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#CA0000; font-size:11px;}
ul.menu ul li a:hover {background-color:#EB2323;}
ul.menu ul ul {left:148px; top:-1px; }
ul.menu .menulink { padding:3px 7px 5px;  width:140px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:14px;}
ul.menu .sub {background:#CA0000; url(images/arrow.gif) 136px 8px no-repeat; font:Arial, Helvetica, sans-serif; font-size:11px;}
 */.topline {border-top:1px solid #FFF; font-family:Arial, Helvetica, sans-serif; font-size:11px;} 

.newslink:link
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
}
.newslink:active
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
}
.newslink:hover
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	text-decoration:none;
}
.newslink:visited
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
}

.newstxt
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:11px;
	padding-left:80px;
	height:33px;
	line-height:29px;
}

.txthead
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ca0000;
}
.txt ul
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
	margin-left:30px;
}
.txtwhite
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777;
}
.txtcopy
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:10.5px;
	color:#666;

}

.footerbg
{background-image:url(../images/bg-footer.gif);
background-repeat:repeat-x;
}
.tablehead,th
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:black;
	text-decoration:none;
	font-weight:bolder;
	padding-left:5px;
	height: 30%;
}
.tablehead3
	{
	font-family:"Museo sans for Dell", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:black;
	text-decoration:none;
	font-weight:bolder;
	padding-left:5px;
	height: 30%;
}
.button{
	background-color: #0085C3;
	font-size: 14px;
	font-weight: bold; 
	border-color: white;
	color:#CBE0F8;
	cursor: pointer;
	/* border-radius:15px 15px 15px 15px; */
	height: 150%;
	width:20%;
	text-shadow: gray;
}
.loginhead
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:black;
	text-decoration:none;
	/* font-weight:bolder; */
	padding-left:5px;
	height: 30%;
}
.layout{
	padding:3%;
	border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius:14px 14px 14px 14px; 
    
}
.dataTable{
	table-layout:auto;
	border-color: white;
}
.tabletxt
{
	font-family:"Museo for Dell", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:black;/* 
	font-weight:bold; */
	text-decoration:none;
	padding-left:8px;
	
	/* background-color:black;
		opacity:0.9;
	for IE8
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 for IE5-7
	filter: alpha(opacity=90); */
height: 10%;
}

.textareatxt
{
	font-family:"Museo Sans for Dell", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444;
	text-decoration:none;
	padding-left:8px;
}

.menubg
{
	background-image:url(../images/menu-bg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.breadcrumb:link
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	text-decoration:none;
}
.breadcrumb:active
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	text-decoration:none;
}
.breadcrumb:hover
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	text-decoration:none;
}
.breadcrumb:visited
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	text-decoration:none;
}
.currentbread
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}

#date_picker
{
display: inline;
float: left;

}
.f_left  { float: left; }
.f_right { float: right;}
.pd5 {  padding: 5px;}
.ofy_scroll { overflow-y: scroll;}
.ht50 {  height: 50px;}
.wt280 {  width: 280px; }
.ml5 {  margin-left     : 2px;}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.roleDescriptor{
	
	position:relative;
	/* z-index: 1000; */
	/* display:none; */
	 /* top:0%; */
	/* left:0%; */
	height: 350%;
	width: 100%; 
	/* right:20%;
	bottom:20%; */ 
	/* background-color:#0185C6; */
	opacity:0.9;
	/* for IE8 */
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 /* for IE5-7 */
	filter: alpha(opacity=90);
}
.dashboardDiv{
	/* border: 1;
	border-bottom-style:outset;
	border-radius:15px 15px 15px 15px; */
}
.radius{
	padding-left:3%;
	padding-right:3%;
	border: outset;
	border-width:1px;
	border-color:black;
	border-radius: 8px 8px 8px 8px; 
    /* -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px px; */
}
.bodyTable{
	
	border: 1;
	border-bottom-style: outset;
	border-radius:5px,5px,5px,5px; 
}